<div class="page-header">
  <div class="pull-right">
    <%= link_to 'New Plant', new_plant_path, class: "btn btn-success" %>
  </div>
  <h1>Plants</h1>
</div>

<table class="table">
  <thead>
    <th>
      Common Name
    </th>
    <th>
      Genus species
    </th>
  </thead>
  <tbody>
    <% @plants.all.each do |plant| %>
    <tr>
      <td>
        <%= link_to plant.common_name, plant_path(plant) %>
      </td>
      <td>
        <i><%= plant.genus_species %></i>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
